@import url(normalize.css);
@import url(html5boilerplate.css);
@import url(jquery-ui.min.css);
@import url("http://fonts.googleapis.com/css?family=Syncopate");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
body {
  font-size: 0.625em;
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
  color: #5E5E54; }

:-moz-placeholder {
  padding-left: 2px; }

::-webkit-input-placeholder {
  padding-left: 2px; }

::-moz-placeholder {
  padding-left: 2px; }

:-ms-input-placeholder {
  padding-left: 2px; }

header {
  width: 100%;
  font-family: 'Syncopate', sans-serif; }
  header .top {
    background: #f67f09;
    height: 4px;
    width: 100%; }
  header nav {
    width: 100%;
    margin-top: 4px; }
    header nav .left {
      float: left;
      padding: 12px 0 0 2%;
      font-size: 1.6em;
      width: 18%;
      display: inline-block; }
    header nav .title {
      float: left;
      font-size: 3.6em;
      width: 60%;
      text-align: center;
      display: inline-block;
      cursor: pointer; }
      header nav .title a:link, header nav .title a:visited, header nav .title a:hover, header nav .title a:active {
        text-decoration: none;
        color: #5E5E54; }
    header nav .right {
      float: left;
      padding: 12px 2% 0 0;
      font-size: 1.6em;
      width: 18%;
      text-align: right;
      display: inline-block; }

main {
  width: 100%; }
  main section {
    width: 100%; }

#search {
  text-align: center;
  padding-bottom: 40px;
  font-size: 14px;
  display: none; }
  #search input {
    width: 280px;
    height: 34px;
    border-radius: 6px;
    margin-right: 6px;
    font-size: 16px; }
  #search select {
    width: 214px;
    height: 28px;
    border-radius: 6px; }

.ui-menu-item {
  font-size: 1.2em;
  background: white; }

.accordion {
  width: 80%;
  max-width: 900px;
  margin: 80px auto 100px;
  font-family: "museo-slab", serif; }
  .accordion h1 {
    font-weight: 100;
    font-style: italic;
    font-size: 2.6em;
    color: #f67f09;
    border-bottom: 1px solid #fab06b;
    padding-bottom: 12px; }
  .accordion ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .accordion ul.topMenu > li {
    border-bottom: 1px solid #c3c2bb;
    padding: 12px 0; }
    .accordion ul.topMenu > li:last-child {
      border-bottom: 1px solid #fab06b; }
    .accordion ul.topMenu > li h2 {
      font-weight: 100;
      font-style: italic;
      font-size: 2em;
      margin: 0;
      cursor: pointer; }
  .accordion li ul {
    display: none;
    padding: 5px 0 0 10px; }
    .accordion li ul li {
      font-size: 2em;
      font-weight: 100;
      padding: 5px 0;
      color: #5E5E54; }
      .accordion li ul li.sub-menu {
        border: none;
        color: #fab06b;
        cursor: pointer; }
  .accordion .hidden {
    display: none;
    visibility: hidden; }
  @media only screen and (max-width: 900px) {
    .accordion {
      width: 90%; } }
  @media only screen and (max-width: 500px) {
    .accordion {
      width: 98%; } }
