<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Census Gopher | Easily Extract Data From The US Census</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//use.typekit.net/crf0zzc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="sass/main.css">
    <script src="js/vendor/modernizr.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="clearfix">
      <div class="top"></div>
      <nav>
        <span class="left">GETTING STARTED</span>
        <span class="title"><a href="/">CENSUS GOPHER</a></span>
        <span class="right">MY QUERY</span>
      </nav>
    </header>
    <main>
      <section class="accordion">
        <div id="search"></div>
        <h1>Click the survey you&#039;d like to query:</h1>
      </section>
    </main>
    <script type="text/template" id="searchTemplate">
      <input placeholder="Search For Variables" list="menus" value="" name="varSearch" />
      <select name="searchType" id="searchType">
        <option value="all" selected="selected">Search Whole Survey</option>
        <option value="page">Search This Page</option>
      </select>
    </script>
    <script type="text/template" id="variableTemplate">
      <h2><%= desc %></h2>
      <ul>
        <li class="cells">&ndash; <%= subDesc %></li>
        <li class="sub-menu">&ndash; <%= callToAction %></li>
      </ul>
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/build/gopher.js"></script>
  </body>
</html>